body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

div {
    margin: 5% 10% 5% 10%;
    border: solid;
}

button {
    width: 80%;
    height: 30px;
    background: none;
    border: solid;
}

button:hover {
    background-color: aqua;
}

button:active {
    background-color: red;
}